# Directories #
Obj
obj
Lib
lib
Bin
bin
/doc/*
!/doc/Doxyfile

# Compiled #
*.obj
*.exe

# Build #
*.exp
*.ncb
*.suo
*.user
*.pdb
*.sdf
*.opensdf
*.layout
*.depend
*.filters
*.log
*.tlog

# Extra #
*.tga
*.png
*.bmp
*.wav
*.ogg
*.mp3
*.zip
*.rar
